<a href="https://colab.research.google.com/github/nuwansampath2007/Python/blob/First-Learn/FirstCode.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
print("Hello Nuwan Welocme back to programming After good 6 Years!....")

Hello Nuwan Welocme back to programming After good 6 Years!....

In [5]:
name = "Nuwan"
age = 36
height = 5.10
is_gamer = True


print("Name:", name)
print("Age:", age)
print("Height:", height)
print("Is Gamer?", is_gamer)

Name: Nuwan
Age: 36
Height: 5.1
Is Gamer? True

In [6]:
user_name = input("What is your Name ?")
print("Welcome " + user_name + "!")

What is your Name ?NUWAN
Welcome NUWAN!

In [7]:
x = 3
y = 10

print (x + y)
print (y - x)
print (x * y)
print (y / x)
print (y // x)
print (y % x)
print (y ** x)

13
7
30
3.3333333333333335
3
1
1000

In [8]:
age = int(input("Enter your age: "))

if age >= 18:
    print("You are eligible to vote.")
elif age >= 13:
    print("You are Teenager But not eligible to vote yet.")
else:
    print("You are not eligible to vote yet.")

Enter your age: 19
You are eligible to vote.

In [9]:
count = 0
while count < 5:
    print("Count is: ", count)
    count += 1

Count is:  0
Count is:  1
Count is:  2
Count is:  3
Count is:  4

In [13]:
video_games = ["Game 1", "Game 2", "Game 3", "Game 4"]



video_games.append("Game 5")

print(video_games)
#for game in video_games:
#    print(game)

['Game 1', 'Game 2', 'Game 3', 'Game 4', 'Game 5']

In [27]:
def hello(person_name):
  print("Hello " + person_name + " Welcome to functions in python")

hello("Nuwan")

def multyply(a, b):
  return a * b

result = multyply(30, 5)
print("Results : ", result)

Hello Nuwan Welcome to functions in python
Results :  150